
<h2>My Cards</h2>

<!-- Loop to display all decks, then second loop to display its cards -->
{{#each decks as |deck i|}}
  <a href="/{{deck.name}}">{{deck.name}}</a>
  <ul>
    {{#each deck.cards as |card i|}}
      <li>{{card.original}} {{card.translation}}</li>
    {{/each}}
  </ul>
{{/each}}
