<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cards</title>

<!-- scripts for angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>
    <script src="./js/app.js"></script>

    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/showStyles.css">



  </head>
  <body data-ng-app="cards">
    <h2>CiKu</h2>

    <div>
      <main data-ui-view></main>
    </div>

  </body>
</html>
