/*  === GENERAL === */

.wrap{
  width: 90%;
  margin: auto;
  max-width: 1100px;
}

.page {
  margin-bottom: 70px;
}

.button{
  margin: 15px 0px;
  background-color: #002F9C;
  width: 200px;
}

.input-box{
  margin: 15px 0px;
  width: 200px;
}

.center{
  text-align: center;
}


/*  === Home === */

/*Home navbar*/
.top-bar{
  text-align: center;
  background-color: #F8F8F8;
  border: 0px solid #E9E9E9;
  height: 60px;
  padding: 0;
}

.top-bar ul{
  background-color: #F8F8F8;
}

.top-bar ul li{
  list-style: none;
  margin: 0px 20px;
  color: #3A2047;
  line-height: 60px;
  padding-top: 0;
  padding-bottom: 0;
}

.top-bar a{
  color: #3A2047;
}

.top-bar a:hover{
  color: #ECA6FD;
}

.top-bar ul {
  height: 60px;
  padding-top: 0;
  padding-bottom: 0;
}

/*Home header*/
.hero{
  background-image: url("http://theplanetd.com/images/Hong-kong-city-skyline-X2.jpg");
  padding: 80px 0px;
  min-height: 600px;
  color: white;
  margin-top: 0px;
  z-index: -1;
  background-attachment: scroll;
  background-attachment: fixed;
  background-size: cover;;
}

.hero h2{
  margin:150px 0px -10px 0px;
  font-size: 80px;
  text-shadow: 0px 0px 10px rgba(255,255,255,1), 0px 0px 30px rgba(255,255,255,1), 0px 0px  0px rgba(255,255,255,1), 0px 0px 0px rgba(255,255,255,1);
  color: rgba(255,255,255,0);
  font: 80px 'ChunkFiveRegular';
}

.hero span{
  font-size: 20px;
  margin:10px 0px -10px 20px;
  opacity: .8;
}

.hero .chinese-title {
  font-size: 40px;
  margin: 0;
}

h2{
  font: 60px 'ChunkFiveRegular';
  color: black;
  margin-top: 40px;
}


/*Home body*/

.deck{
  display: flex;
  flex-wrap: wrap;
  margin: 50px 10px;
  white-space: nowrap;
  overflow: hidden;
}

.deck div{
  display: flex;
  align-items: center;
  justify-content:center;
  border: 1px solid #CCCCCC;
  height: 40%;
  width: 40%;
  margin: 20px 5px;
  margin-top: 0px;
  font: 20px 'ChunkFiveRegular';
  min-width: 200px;
  min-height: 50px;
  background-color: #CCCCCC;
}



.deck div a{
  color: black;
  font: 20px 'ChunkFiveRegular';
}

.deck div:hover a{
  font: 20px 'ChunkFiveRegular';

}

.deck div:hover{
  opacity: .5;
  transition-duration: 700ms;
}

.deck-name{
  font: 28px 'ChunkFiveRegular';
}

/*  === DECK SHOW PAGE === */

.deck-title{
  margin: 50px 0px 10px 0px;
  color: #002F9C;
}

.deck-title:hover{
  opacity: .5;
}


.deck-name-div{
  margin: 20px 0px 40px 0px;
  color: #002F9C;
}


.stat-field{
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 20px;
}

.tran-button{
}

.tran-button:hover{
  opacity: .5;
}

.hero-show-quiz{
  background-image: url("http://img03.deviantart.net/da64/i/2008/306/e/b/starry_sky_stock_by_budgie.jpg");
  min-height: 300px;
  background-size: cover;
}

.hero-show-quiz h2{
  margin:50px 0px -10px 0px;
}

.show-div{
  width: 150px;
  height: 40px;
  border-bottom: 1px solid #E9E9E9;
  margin: 20px 0;
}

.show-div .original{
  font-size: 24px;
  font-family: 'Cormorant Garamond', serif;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.show-div .pronounce{
  font-size: 16px;
  font-family: georgia;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  color: blue;
}

.show-div .translation{
  font-size: 20px;
  font-family: georgia;
  line-height: 40px;
  padding-top: 0;
  padding-bottom: 0;
  color: red;
}

.show-card-button-box{
  margin-top: 20px;
}

/* === QUIZ PAGE ===*/
.score{
  margin: 40px 0 0 0;
  font-family: georgia;
}

canvas{
  margin: 20px 0px 10px 0px;
}

.disappear-note{
  margin: 0px 0px 0px 0px;
}

.question-box{
  font-size: 36px;
  font-family: 'Cormorant Garamond', serif;
}
