/*  === GENERAL === */

/*Home navbar*/
.top-bar{
  text-align: center;
  background-color: #F8F8F8;
  border: 0px solid #E9E9E9;
}

.top-bar ul{
  background-color: #F8F8F8;
}

.top-bar ul li{
  list-style: none;
  margin: 0px 10px;
}

/*Home body*/
.deckBody{


}



/*  === HOME PAGE === */




/*  === DECK SHOW PAGE === */




/* === QUIZ PAGE ===*/
