body{
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  background-color: black;
}

#myCanvas{
  background: red;
  width: 600px;
  height: 250px;
}

#quizBox{
  /*background-color: white;*/
  width: 600px;
  height: 300px;
  margin: -100px 0px 0px 0px;
}
