html{
  margin: 0;
}

#myCanvas{
  background: red;
  width: 800px;
  height: 400px;
}

body{
  margin: 0;
   padding: 0;
   border: 0;
  text-align: center;
  background-color: black;
  overflow: hidden;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul{
  padding:0;
}
.navItem{
  margin: 0px 10px 0px 0px;
  list-style: none;
  padding: 0;
}

#QandA{
  width:100%;
  background-color: black;
}

nav{
  background-color: black;
  height: 75px;
  color: white;
}

#world{

}

#questions{
  width: 40%;
  height: 80px;
  background-color: white;
  margin: 0px 0px 0px 0px;
  border: 5px solid black;
}

#answers{
  width: 60%;
  height: 220px;
  background-color: white;
}
