body{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#showNav{
  height: 20%;
  width: 100%;
  background-color: green;
}

#hideTranButton{
  margin: -30px 0px 20px 0px;
  font-size: 12px;
}

#hideTranButton:hover{
  color: #22C3E9;
}

#deckName{
  color: #002F9C;
}

#deckName:hover {
  color: #22C3E9;
}

#original{
  font-size: 24px;
  margin: 0px 0px 0px 0px;
}

#originalBox{
  font-size: 24px;
  margin: 0px 0px 0px 0px;
  width: 80px;
}

#translation{
  color: #FF6900;
  font-size: 20px;
  margin: 0px 0px 45px 10px;
}

#translationBox{
  color: orange;
  font-size: 20px;
  margin: 0px 0px 0px 10px;
  width: 80px;

  /*background-color: #2BABF0;*/

}

#pronounciation{
  margin: 0px 0px 0px 0px;
  color: red;
  font-size: 12px;
}

#pronounciationBox{
  margin: 0px 0px 0px 0px;
  color: red;
  font-size: 12px;
  width: 80px;
}
