html {
  height: 100%;
  margin: 0;
}

body{
  text-align: center;
  background: #FFFFFF;
  background-size: cover;
  color: black;
  background-size: 150%;
  margin: 0;
  padding: 0;
  border: 0;
  /*font-family: 'Cormorant Garamond', serif;*/
}

header{
  background-image: url("HeaderpicCropped.png");
  height: 250px;
  width: 100%;
  background-repeat:no-repeat;
  background-position: top center;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  background-attachment: fixed;
}

#trailer{
  display: inline;
  font-size: 40px;
}

#title:hover #trailer{
  display:inline;
}

#showNav{
  height: 50px;
  width: 100%;
  background-color: #F8F8F8;
  border: 1px solid #E9E9E9;
}

.navItem{
  color: #002A9F;
  margin:0px 40px 0px 40px;
  opacity: 1px;
}

.navItem:hover{
  color: #22C3E9;
  margin:0px 40px 0px 40px;
}

#title{
  color: white;
  margin:100px 0px -10px 30px;
  font-size: 80px;
  text-shadow: 0px 0px 10px rgba(255,255,255,1), 0px 0px 30px rgba(255,255,255,1), 0px 0px  0px rgba(255,255,255,1), 0px 0px 0px rgba(255,255,255,1);
	color: rgba(255,255,255,0);
	font: 80px 'ChunkFiveRegular';
}



a{
  color: #002F9C;
  text-decoration: none;
}

h1{
  color: white;
}


input{
  border: 2px solid #365A9C;
  color: #365A9C;
  margin: 0px 0px 10px 0px;
}

.cancel{
  font-size: 12px;
  margin: 5px 0px 0px 0px;
  color: #E37222;
}

.cancel:hover{
  color: #22C3E9;
}

.blueButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Cormorant Garamond', serif;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.blueButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.blueButton:active {
	position:relative;
	top:1px;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

footer{
  height: 50px;
  width: 100%;
  background-color: #F8F8F8;
  border: 1px solid #E9E9E9;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}
