html {
  height: 100%;
  margin: 0;
}

body{
  text-align: center;
  background: #FFFFFF;
  background-size: cover;
  color: black;
  background-size: 150%;
  margin: 0;
  padding: 0;
  border: 0;
  /*font-family: 'Cormorant Garamond', serif;*/
}

header{
  background-image: url("HeaderpicCropped.png");
  height: 250px;
  width: 100%;
  background-repeat:no-repeat;
  background-position: top center;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  background-attachment: fixed;
}





#title{
  color: white;
  margin:100px 0px -10px 30px;
  font-size: 80px;
  text-shadow: 0px 0px 10px rgba(255,255,255,1), 0px 0px 30px rgba(255,255,255,1), 0px 0px  0px rgba(255,255,255,1), 0px 0px 0px rgba(255,255,255,1);
	color: rgba(255,255,255,0);
	font: 80px 'ChunkFiveRegular';
}



a{
  color: #002F9C;
  text-decoration: none;
}

h1{
  color: white;
}


input{
  border: 2px solid #365A9C;
  color: #365A9C;
  margin: 0px 0px 10px 0px;
}

.cancel{
  font-size: 12px;
  margin: 5px 0px 0px 0px;
  color: #E37222;
}

.cancel:hover{
  color: #22C3E9;
}


.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
