html {
  height: 100%;
}

body{
  text-align: center;
  background: linear-gradient(white, #A5DBDB);
  background-size: cover;
  color: black;
}

header{
  background-color: #385C9A;
  height: 10%;
  width: 100%;
}

a{
  color: #002F9C;
}

h1{
  color: white;
}

h2{
  color: #22C3E9;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
