<div class ="hero">
  <div class = "wrap">
    <div class="row">
      <h2>Ciku<span class ="chinese-title">词库</span><span>Study Chinese</span></h2>
    </div>
  </div>
</div>


<nav id="showNav" class= "row">
    <p class ="navItem" data-ui-sref="index">Home</p>
    <p class ="navItem" data-ui-sref="quiz({name: vm.deck.name})">Quiz!</p>
    <p class ="navItem">Help</p>
</nav>



  <!-- edit deck name -->
  <div id="deckNameDiv" class = "column">
    <!-- Deck Header -->
    <h2 id="deckName" ng-hide="editTitle.toggle" ng-click="editTitle.toggle=true">{{vm.deck.name}}</h2>

    <!-- Box to edit Deck Header -->
    <input id="deckNameBox" ng-if="editTitle.toggle" type="text" ng-model="vm.deck.name" placeholder="Name"/>
    <!-- Submit changes to Deck Header -->
    <p id="editDeckButton" ng-if="editTitle.toggle" ng-click="vm.updateDeck(); editTitle.toggle=false">Submit</p>
  </div>

  <!-- hide and show translations -->
  <div id = "hideTranButton">
    <p ng-click= "showTran.toggle=false" ng-if = "showTran.toggle" type="button">Show Translations</p>
    <p ng-click= "showTran.toggle=true" ng-hide = "showTran.toggle" type="button">Hide Translations</p>
  </div>

  <!-- Display stats of current deck -->
  <div id="statField" ng-hide="editTitle.toggle">{{number}} cards {{percentage}}% learned</div>

  <!-- Deck Body -->
  <div data-ng-repeat="card in vm.deck.cards" id ="card">

      <!-- display cards -->
      <div class="column">

          <form ng-submit = "vm.updateCard($index, card)">

          <div id= "cardDiv" class = "row">
          <div id="originalDiv" class = "column">
            <div class = "row">
            {{$index + 1}}:
            <p id = "original" ng-click ="editCard.toggle = true"  ng-hide = "editCard.toggle" >{{card.original}}</p>
            <input id = 'originalBox' ng-if = "editCard.toggle" type="text" ng-model="card.original" placeholder="card.original">
          </div>
            <p id = "pronounciation" ng-if="!showTran.toggle" ng-hide = "editCard.toggle">{{card.pronounciation}}<p>
            <input id = "pronounciationBox" type="text" ng-model="card.pronounciation" placeholder="translation" ng-if ="!showTran.toggle && editCard.toggle">

          </div>

            <p id = "translation" ng-if="!showTran.toggle" ng-hide = "editCard.toggle">{{card.translation}}</p>
            <input id = "translationBox" type="text" ng-model="card.translation" placeholder="pronounciation" ng-if ="!showTran.toggle && editCard.toggle">

        </div>

            <input id="submitButton" type="submit" ng-if ="editCard.toggle">

            </form>
            <input id="submitButton"  ng-if ="editCard.toggle" ng-click ="vm.deleteCard($index)" type="button" name="" value="Delete">
          </div>
    </div>


<button class="blueButton" ng-click="newCard.toggle=true" ng-hide="newCard.toggle">New Card</button>
<p class = "cancel" ng-show="newCard.toggle" ng-click="newCard.toggle=false">Cancel</p>

<!-- create a card -->
<form ng-submit = "vm.createCard()" ng-show="newCard.toggle">
  <input type="text" ng-model="original" placeholder="original" required>
  <input type="text" ng-model="translation" placeholder="translation">
  <input type="text" ng-model="pronounciation" placeholder="pronounciation">
  <input class="blueButton" type="submit">
</form>

<!-- delete the deck -->
<button class="blueButton" data-ng-click="vm.destroy()">Delete Deck</button>

<!-- back to index -->
