<!-- Deck Header -->
<h2 id="deckName" ng-hide="editTitle.toggle" ng-click="editTitle.toggle=true">{{vm.deck.name}}</h2>

  <!-- edit deck name -->
  <div class = "column">
    <input ng-if="editTitle.toggle" type="text" ng-model="vm.deck.name" placeholder="Name"/>
    <p id="deckName" ng-if="editTitle.toggle" ng-click="vm.updateDeck(); editTitle.toggle=false">Edit Deck Name</p>
  </div>


  <!-- hide and show translations -->
  <div id = "hideTranButton">
    <p ng-click= "showTran.toggle=false" ng-if = "showTran.toggle" type="button">Show Translations</p>
    <p ng-click= "showTran.toggle=true" ng-hide = "showTran.toggle" type="button">Hide Translations</p>
  </div>

  <div>{{number}} cards {{percentage}}% learned</div>

<!-- Deck Body -->
<div data-ng-repeat="card in vm.deck.cards" id ="card">

      <!-- display cards -->
      <div class="column">

          <form ng-submit = "vm.updateCard($index, card)">

          <div class = "row">
          <div class = "column">
            <p id = "original" ng-click ="editCard.toggle = true"  ng-hide = "editCard.toggle" >{{card.original}}</p>
            <input id = 'originalBox' ng-if = "editCard.toggle" type="text" ng-model="card.original" placeholder="card.original">

            <p id = "pronounciation" ng-if="!showTran.toggle" ng-hide = "editCard.toggle">{{card.pronounciation}}<p>
            <input id = "pronounciationBox" type="text" ng-model="card.pronounciation" placeholder="translation" ng-if ="!showTran.toggle && editCard.toggle">

          </div>

            <p id = "translation" ng-if="!showTran.toggle" ng-hide = "editCard.toggle">{{card.translation}}</p>
            <input id = "translationBox" type="text" ng-model="card.translation" placeholder="pronounciation" ng-if ="!showTran.toggle && editCard.toggle">

        </div>

            <!-- <p id = "literal" ng-if="showTran.toggle" ng-hide = "editCard.toggle">{{card.literal}}</p>
            <input type="text" ng-model="card.literal" placeholder="literal" ng-if ="showTran.toggle && editCard.toggle">

            <p id = "context" ng-if="showTran.toggle" ng-hide = "editCard.toggle">{{card.context}}</p>
            <input type="text" ng-model="card.context" placeholder="context" ng-if ="showTran.toggle && editCard.toggle"> -->

            <input type="submit" ng-if ="editCard.toggle">

            </form>
            <input ng-if ="editCard.toggle" ng-click ="vm.deleteCard($index)" type="button" name="" value="Delete">
          </div>
    </div>



<!-- create a card -->
<form ng-submit = "vm.createCard()">
  <input type="text" ng-model="original" placeholder="original">
  <input type="text" ng-model="translation" placeholder="translation">
  <input type="text" ng-model="pronounciation" placeholder="pronounciation">
  <!-- <input type="text" ng-model="literal" placeholder="literal">
  <input type="text" ng-model="context" placeholder="context"> -->
  <input type="submit">
</form>

<!-- delete the deck -->
<button data-ng-click="vm.destroy()">Delete Deck</button>

<!-- back to index -->
<a data-ui-sref="index">Back</a>

<a data-ui-sref="quiz({name: vm.deck.name})">Quiz</a>
