<h2>{{vm.deck.name}}</h2>

<div data-ng-repeat="card in vm.deck.cards">
        {{card.original}}
        {{card.translation}}
        {{card.pronounciation}}
        {{$index}}
            <form ng-submit = "vm.updateCard()">
                <input type="text" ng-model="original" placeholder="original">
                <input type="text" ng-model="translation" placeholder="translation">
                <input type="text" ng-model="pronounciation" placeholder="pronounciation">
                <input type="text" ng-model="literal" placeholder="literal">
                <input type="text" ng-model="context" placeholder="context">
                <input type="submit">
            </form>
            <input ng-click ="vm.deleteCard($index)" type="button" name="" value="Delete">
  </div>

<input type="text" ng-model="vm.deck.name" placeholder="Name" />
<button data-ng-click="vm.update()">Edit Deck Name</button>

<button data-ng-click="vm.destroy()">Delete Deck</button>

<form ng-submit = "vm.createCard()">
  <input type="text" ng-model="original" placeholder="original">
  <input type="text" ng-model="translation" placeholder="translation">
  <input type="text" ng-model="pronounciation" placeholder="pronounciation">
  <input type="text" ng-model="literal" placeholder="literal">
  <input type="text" ng-model="context" placeholder="context">
  <input type="submit">
</form>

<a data-ui-sref="index">Back</a>
